<a href="https://colab.research.google.com/github/sumitkale12/sumit/blob/main/cie_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [ ]:
df=pd.DataFrame(data=housing.data, columns=housing.feature_names)
df['PRICE'] = housing.target
print(df)

       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude  PRICE
0        -122.23  4.526
1        -122.22  3.585
2        -122.24  3.521
3        -122.25  3.413
4        -122.25  3.422
...          ...    ...
20635    -121.09  0.781
20636    -121.21  0.771
20637    -121.22  0.923
20638    -121.32  0.847
20639    -121.24  0.894

[20640 rows x 9 columns]

In [ ]:
df.head()
df.describe()
df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
PRICE         0
dtype: int64

In [ ]:
numeric_means = df.select_dtypes(include=['number']).mean()
df2 = df.fillna(numeric_means)
df2.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
PRICE         0
dtype: int64

In [ ]:
X = pd.DataFrame(np.c_[df['HouseAge'], df['Population']], columns = ['HouseAge','Population'])
Y = df['PRICE']

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 8, random_state=0)
print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

       HouseAge  Population
964        12.0      3329.0
8681       44.0       373.0
17935      42.0       659.0
9228       21.0       861.0
13579      52.0       968.0
...         ...         ...
13123      20.0       712.0
19648      27.0       647.0
9845       31.0       704.0
10799      34.0      1052.0
2732       15.0      1024.0

[20632 rows x 2 columns]
       HouseAge  Population
14740      22.0      1551.0
10101      32.0      1296.0
20566      29.0      1554.0
2670       37.0       390.0
15709      25.0       649.0
439        52.0       218.0
845        16.0      1117.0
3768       37.0       794.0
964      3.397
8681     2.656
17935    2.379
9228     0.922
13579    0.795
         ...
13123    1.446
19648    1.594
9845     2.893
10799    4.846
2732     0.694
Name: PRICE, Length: 20632, dtype: float64
14740    1.369
10101    2.413
20566    2.007
2670     0.725
15709    4.600
439      1.200
845      2.470
3768     3.369
Name: PRICE, dtype: float64

In [ ]:
model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [ ]:
model.intercept_

1.7744445390778876

In [ ]:
model.coef_

array([9.89524694e-03, 7.47097269e-06])

In [ ]:
model.score(X_test, Y_test)

-0.08933096939101826

In [ ]:
model.score(X_train, Y_train)

0.01123369437537558